* {
  box-sizing: border-box;
  font-family: sans;
  color: #004040;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  margin-top: 0;
}

header, main {
  background: #ffcfd7;
  max-width: 40rem;
  margin: auto;
  border: .5rem solid #ffafbb;
}

header {
  border-bottom: none;
}

main {
  border-top: none;
}

.action-palette {
  display: flex;
  justify-content: space-between;
  margin-bottom: .1875rem;
  position: relative;
}

.filter-select-form::after {
  content: url("data:image/svg+xml,<svg width='12' height='12' xmlns='http://www.w3.org/2000/svg'><path d='m0,6l6,6l6,-6l-8,0z'/><path fill='none' d='m0,0l8,0l0,8l-8,0l0,-8z'/></svg>");;
  position: absolute;
  top: .25rem;
  right: .75rem;
  pointer-events: none;
}

#filter-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: .25rem;
  margin-right: .5rem;
}

#filter-select, .new-bookmark {
  background: #ffafbb;
  border: 0;
  display: block;
  border: 1px solid salmon;
  line-height: 1.5rem;
}

.new-bookmark-button-label {
  margin-left: 1rem;
}

.new-bookmark-button-label, .new-bookmark-icon {
  padding: .25rem 0;
}

.new-bookmark {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin: 0 .5rem;
  line-height: 1.5rem;
  max-width: 20rem;
}

.bookmark-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bookmark-list li:nth-child(even) {
  background: #ffafbb;
}

.bookmark-delete, .bookmark-name, .bookmark-rating,
 .bookmark-description, .bookmark-link, .collapse-bookmark {
  border: none;
  margin: 0;
  padding: .1875rem;
  line-height: 1.5rem;
  background-color: unset;
}

.bookmark-item {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.bookmark-line {
  margin: 0 0 .1875rem 0;
  display: flex;
}

.bookmark-delete {
  padding-left: .3125rem;
}

.bookmark-name {
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark-rating {
  padding: .1875rem .25rem;
  font-size: .8rem;
}

.expanded .bookmark-name {
  flex: unset;
  text-align: center;
  white-space: unset;
  margin-bottom: 1rem;
}

.expanded .bookmark-line {
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  margin: 0 .1875rem;
  align-items: flex-start;
}

.expanded footer {
  display: flex;
  justify-content: space-around;
}

.bookmark-description {
  padding: 0 1.5rem;
  margin: 0 .1875rem .1875rem;
}

.bookmark-link, .collapse-bookmark {
  margin: .5rem;
  flex: 1;
}

.collapse-bookmark {
  margin-left: 1.5rem;
}

#new-bookmark-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

#new-bookmark-form p {
  margin: 1rem;
}

#new-bookmark-desc {
  resize: none;
}

.new-bookmark-form-input {
  width: 100%;
  background: papayawhip;
  border: 1px solid salmon;
  padding: .25rem;
}

.new-bookmark-rating {
  width: 100%;
}

button.new-bookmark-form-input, .bookmark-link, 
    .collapse-bookmark {
  background: #ffafbb;
  border: 1px solid salmon;
}

.new-bookmark-rating {
  display: inline-block;
  text-align: center;
}

#new-bookmark-form-error {
  text-align: center;
  /* padding: .125rem; */
  border: 3px solid lightcoral;
  color: crimson;
  font-weight: bold;
}

@media screen and (min-width: 50rem) {
  header, main {
    max-width: 90rem;
  }

  .bookmark {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }

  .bookmark h2 {
    text-align: left;
    order: 2;
  }
  .bookmark-item {
    flex-direction: column;
  }

  .bookmark-line {
    flex: 1;
    margin-bottom: .125rem;
  }

  .expanded .bookmark-line {
    max-width: 8rem;
  }

  .bookmark-description {
    margin: 0;
  }

  .bookmark-body {
    order: 3;
    flex: 2;
  }

  #new-bookmark-form {
    flex-direction: row;
  }

}